.produtos {
  margin: 15px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.produtos h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.produto-card {
  background-color: #f0f8ff; /* azul bem claro */
  border: 1px solid #cce5ff; /* azul claro */
  border-radius: 6px;
  padding: 12px 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produto-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.produto-card a:hover {
  text-decoration: underline;
}
